.canvas-wrapper {
  z-index: 1;
  .score {
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 2.75rem;
    font-family: var(--serif);
  }
  canvas {
    background-color: var(--startingCanvasColor);
    border-radius: 10px;
    transition: filter 0.25s ease-in-out;
    max-width: 100vw;
  }
}

.loser {
  filter: grayscale(1);
}
