.canvas-wrapper {
  z-index: 1;
  canvas {
    background-color: var(--startingCanvasColor);
    border-radius: 10px;
    transition: filter 0.25s ease-in-out;
  }
}

.loser {
  filter: grayscale(1);
}
